# Terragrunt cache
.terragrunt-cache/
.terragrunt-stack/
*.terragrunt-cache*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
registry.terraform.io
*registry.terraform.io*

# Other
.DS_Store
